.react-calendar ul,
.react-calendar li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.react-calendar {
    width: 300px;
}

.react-calendar.is-portal {
    position: absolute;
    background: white;
}

.react-calendar-day,
.react-calendar-day-titles li{
    display: inline-block;
    width: 14.28%;
}
